* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  border: none;
}

.dropdown {
  width: 100%;
  padding: 1rem;
  background-color: aliceblue;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.dropdown .create-drops:focus + .create-drops-item {
  display: block;
  pointer-events: all;
}

.dropdown .about-drops:focus + .about-drops-item {
  display: block;
  pointer-events: all;
}

.dropdown .create-drops,
.dropdown .about-drops {
  font-size: 2rem;
}

.dropdown .create-drops:hover,
.dropdown .about-drops:hover {
  cursor: pointer;
}

.dropdown .create-drops-item {
  display: none;
  pointer-events: none;
}

.dropdown .about-drops-item {
  display: none;
  pointer-events: none;
}
