* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#myTable {
  border: 2px solid darkcyan;
  border-collapse: collapse;
  width: 80%;
  text-align: center;
  height: 100vh;
}

#myTable #tableHead {
  background-color: #6b836b;
  color: white;
  font-size: 1.2rem;
  border: 0;
}

#myTable #tableHead td {
  margin: 0;
  padding: 10px;
}

#myTable tbody tr:nth-child(odd) {
  background-color: #d1ebdb;
}

#getBtn {
  position: absolute;
  right: 30px;
  top: 10px;
}
