// Toggle light mode <=> dark mode
@mixin dark-mode {
    background-color: black;
    color: white;
}

@mixin light-mode {
    background-color: white;
    color: black;
}

.dark-mode { 
    @include dark-mode()
}

.light-mode { 
    @include light-mode()
}

h1 { 
    text-align: center;
}

// animation container
.container { 
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
}

@for $i from 1 through 3 {
    .loading#{$i} {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
    }
}

// circle loading animation
.circle { 
    margin-top: 1rem;
    width: 100px;
    height: 100px;
    background-color: inherit;
    border-radius: 50%;
    border: 5px solid rgb(193, 243, 255);
    border-top-color: rgb(53, 174, 255);
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { 
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}