* { 
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border: none;
}

@mixin hideDropsItem {
    display: none;
    pointer-events: none;
}

@mixin showDropsItem {
    display: block;
    pointer-events: all;
}

.dropdown { 
    width: 100%;
    padding: 1rem;
    background-color: aliceblue;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;

    .create-drops:focus + .create-drops-item  {
        @include showDropsItem()
    }
    .about-drops:focus + .about-drops-item {
        @include showDropsItem()
    }

    .create-drops, 
    .about-drops { 
        font-size: 2rem;
    }
    .create-drops:hover, 
    .about-drops:hover { 
        cursor: pointer;
    }

    .create-drops-item {
        @include hideDropsItem()
    }

    .about-drops-item {
        @include hideDropsItem()
    }
}