* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html { 
    background-color: black;
    color: white;
}

header { 
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    background-color: white;
    color: black;
    font-size: 1.5rem;
    font-weight: bold;
}  

#logo { 
    transform: translateX(-50%);
    width: 50px;
}

nav {
    width: 80%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}

.hidden { 
    display: none;
}

.dropdown {
    display: block;
}

.sendBtn {
    cursor: pointer;
}

footer { 
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: white;
    color: black;
}

.readMsg { 
    color: white;
    background-color: rgb(49, 49, 49);
    border-bottom: 1px solid whitesmoke;
    border-top: 1px solid whitesmoke;
}