.container { 
    background-color: #eee;
    border: 1px solid #222;
    display: flex;
    /* flex-direction: row; */
    margin-bottom: 20px;
}

.box { 
    padding: 5px 45px;
    margin: 5px;
    background-color: #222;
}

.box p {
    color: white;
    text-align: center;
}

.opt1 { 
    flex-direction: row;
    flex-wrap: nowrap;
}

.opt2 { 
    display: inline-flex;
    flex-direction: column;
}

.opt3 {
    flex-flow:row wrap;
}

.opt4 { 
    flex-flow:row wrap-reverse;
}

.opt5 { 
    height: 20vh;
    align-content: stretch;
}

.opt5 p { 
    transform: translateY(100%);
}