<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        .thumnail {
            width: 50px;
            height: 50px;
            border-radius: 50%;
        }
    </style>
    <title>profile</title>
</head>
<body>
    <%- include('partial/nav.ejs') %>
    <h1>Your Profile</h1>
    <div>
        <h2>Welcome, <%= user.username %></h2>
        <img class="thumnail" src="<%= user.thumbnail %>" alt="profile image"/>
    </div>
</body>
</html>