/* 
PPI : pixel per inch
DIP : dots per inch

Image might be seen as lower PPI in high resolution display device
such as iMac and MacBook Pro. 

Simplest way to tackle this is half your image width and height
*/

img { 
    width: 100px;
    height: 100px;
}