h1 {
  color: white;
  background-color: black;
}

button {
  color: #00aeff;
  background-color: white;
  border: 2px solid #00aeff;
  padding: 1rem;
  cursor: pointer;
}

#editorjs {
  background-color: aliceblue;
  height: 500px;
}
