<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partial/head.ejs') %>
</head>
<body>
    <%- include('./partial/nav.ejs') %>
    <h1>Create with EJS</h1>
    <p>This is creat page</p>
    <%- include('./partial/footer.ejs') %>
</body>
</html>