* { 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    background-color: #0f72e5;
    font-family:"Arial, Helvetica, sans-serif";
    font-size:1rem;
}

.pop-up {
    display: inline-block;
    width: 500px;
    color: white;
    background: rgb(140, 186, 238);
    position: absolute;
    padding: 1rem;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 1.5rem;
    display: none;
}


.pop-up h1 {
    position: relative;
    bottom: 1.3rem;
}

.pop-up p {
    margin-bottom: 1rem;
}

.pop-up span {
    display: block;
    position: relative;
    width: 100px;
    margin: 0.5rem auto;
    background-color: white;
    color: #0f72e5;
    cursor: pointer;
    text-align:center;
}

#close {
    margin: 0.5rem;
    background-color: transparent;
    border: none;
    font-size: 2rem;
    outline: none;
    cursor: pointer;
    color: aliceblue;
    transform: translate(435px, -5px);
}

.modal-animate-fade-out {
    animation: fade-out 1s 1 ease;
}

@keyframes fade-out {
    0% {
        opacity: 100%;
    }
    100% {
        opacity: 0;
    }
}

.modal-animate-fade-in {
    animation: fade-in 1s 1 ease;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 100%;
    }
}

