* { 
    background-color: black;
    color: white;
}

nav {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

section { 
    display: none;
    max-width: 100%;
}

.cat-img {
    max-width: 100%;
    height: auto;
}