<%- include('partials/header') -%>

<!-- name attribute in input element is displayed in 
backend as one of the request value. 
And it also be accessed through form.(name) in front end. 
-->
<form>
    <h1>Sign Up</h1>
    <label for="email">Email
        <input id="email" 
               type="email" 
               name="email" 
               placeholder="Enter your email" 
               required/>
    </label>
    <div class="emailError"></div>

    <label for="password">Password
        <input id="password" 
               type="password" 
               name="password" 
               placeholder="Enter your password"
               required/>
    </label>
    <div class="passwordError"></div>
    <!-- Button inside form submits the form whenever clicked. -->
    <button>Submit</button>
</form>

<%- include('partials/footer'); -%>

<script>
    const form = document.querySelector("form")
    const emailErr = document.querySelector(".emailError")
    const passwordErr = document.querySelector(".passwordError")

    form.addEventListener("submit", async (e)=>{
        e.preventDefault()
        const email = form.email.value // if a form element is named, it can be accessed with the name. 
        const password = form.password.value
        emailErr.textContent = ""
        passwordErr.textContent = ""
        
        try {
            const response = await fetch('/signup', {
                method: "POST", 
                body: JSON.stringify( { 
                    email : email,
                    password: password } ), 
                headers: { "Content-Type" : "application/json" }
            })
            console.log("trying to send data to server")
            const data = await response.json()
            console.log(data)

            // if user enters wrong form
            if (data.errors) { 
                emailErr.textContent = data.errors.email
                passwordErr.textContent = data.errors.password
            }

            // if user succeeded to sign up 
            if (data._id) {
                alert("sign up success")
                location.assign('/') 
            } 
        }
        catch(err) { 
            console.log(err)
        }

    })
</script>