<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partial/head.ejs') %>
</head>
<body>
    <%- include('../partial/nav.ejs') %>
    <h1>Create with EJS</h1>
    <p>This is creat page</p>
    <form action="/blogs" method="POST">
        <input type="text" name="title" /> <br>
        <input type="text" name="snippets" /> <br>
        <textarea name="body" id="" cols="30" rows="10"></textarea> <br>
        <input type="submit" value="Submit"/>
    </form>
    <%- include('../partial/footer.ejs') %>
</body>
</html>