// Declare a variable in Sass
$i : 1; 

// Use while statement to iterate till a certain condition is met
@while $i < 6 {
    .text-#{$i} { // syntax : css tag + #{$variable}
        font-size: 15px * $i;
    }
    $i : $i + 1;
}