<% if (blogs.length>0) { %>
    <% blogs.map((item)=>{ %>
        <a href="/blogs/<%= item._id %>">
            <h3><%= item.title %></h3>
            <p><%= item.snippets %></p>
            <p><%= item.body %></p>
        </a>
    <% }) %>   
<% } else  { %>
    <h3>No blog posts yet</h3>
<% } %>